<div class="row">
{{#each hotels}}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            {{!--{{{img image}}}--}}
            <h3>{{name}}</h3>
            <p> {{description}}</p>
            {{{buttonsLinks id}}}
        </div>
    </div>
</div>
{{/each}}
</div>

<div class="row text-center">
    <ul class="pagination">
    {{#each pages}}
        <li>{{{hotelPage this}}}</li>
    {{/each}}
    </ul>
</div>