<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="{{imageOne}}" alt="">
    </div>

    <div class="col-md-4">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <h3>Contact us:</h3>
        <ul style="list-style: none;">
            <li><span class="glyphicon glyphicon-earphone"></span> {{phone}}</li>
            <li><span class="glyphicon glyphicon-map-marker"></span> {{address}}</li>
            <li><span class="glyphicon glyphicon-envelope"></span> {{e-mail}}</li>
        </ul>
    </div>
</div>

</div>
<!-- /.row -->

<!-- Additional photos -->
<div class="row">
    <hr>
    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="{{imageTwo}}" alt="">
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="{{imageThree}}" alt="">
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="{{imageFour}}" alt="">
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="{{imageFive}}" alt="">
        </a>
    </div>
    </hr>
</div>
<!-- /.row -->

<hr> {{!--Comments--}}
<div class="row">
    <div class="pull-left">
        <a href="#">
            <img class="media-object img-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="35px" height="35px"
                style="margin-left:3px; margin-right:5px;">
        </a>
    </div>
    <div class="input-group">
        <input id="comment-input-field" type="text" class="form-control" placeholder="Add comment...">
        <span class="input-group-btn">
        <button id="add-comment-btn" class="btn btn-secondary" type="button">Add comment</button>
      </span>
    </div>
</div>

<div class="row">
<div class="panel panel-default">
    {{#each comments}} {{!--Add link to user profile later--}}
    <div class="panel-body">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="50px" height="50px"
                    style="margin-right:8px">
            </a>
        </div>
        <h4><a href="#" style="text-decoration:none;"><strong>{{author}}</strong><a href="#" style="text-decoration:none; color:grey;">  </a></small>
            </small>
        </h4>
        <hr>
        <div class="post-content">
            <p>{{text}}</p>
        <hr>
        </div>
    </div>
    {{/each}}
</div>
</div>